title: "Default Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: "object"
    properties:
      interval:
        title: "Interval in ms"
        type: "number"
        default: 500
    required: [
      "interval"
    ]
  events:
    title: "Configure Events"
    type: "object"
    properties:
      accelerometer:
        title: "Accelerometer"
        description: "Stream accelerometer events"
        type: "boolean"
        default: false
      emg:
        title: "EMG"
        description: "Stream EMG events"
        type: "boolean"
        default: false
      imu:
        title: "IMU"
        description: "Stream IMU events"
        type: "boolean"
        default: false
      gyroscope:
        title: "Gyroscope"
        description: "Stream gryoscope events"
        type: "boolean"
        default: false
      orientation:
        title: "Orientation"
        description: "Stream orientation events"
        type: "boolean"
        default: false
      pose:
        title: "Pose"
        description: "Stream pose events"
        type: "boolean"
        default: true
required: [
  "options"
  "events"
]
